#!/bin/bash

# Цветные коды для вывода
RED='\033[0;31m'
GREEN='\033[0;32m'
NC='\033[0m' # No Color

# Переменные
REMOTE_USER="root"
REMOTE_HOST="1.1.1.1"
REMOTE_PASS="" # Оставьте пустым для подключения по ключу
REMOTE_MYSQL_DIR="/var/lib/mysql/"
LOCAL_REPLICATION_DIR="/root/replication"
MYSQL_USER="root"
MYSQL_PASS="yUnxsjhjhicf"
MASTER_HOST="2.2.2.2"
CHANGE_MASTER_USER="replication"
CHANGE_MASTER_PASS="rhudjajdfjejf"
MARIABACKUP_CMD="xtrabackup"  # Можно заменить на xtrabackup или другой бэкап-инструмент (mariabackup)
MYSQL_SERVICE="mysql"  # mysql / mariadb